*{
     padding: 10px;
     margin: 10px;
}

div.container{
    width: 80px;
    min-height: 400px;
    background-color: beige;
    color: darkblue;
    margin: 10px auto;
}
div.container > h1 {
    text-align: center;
}

ul.list {
    list-style-type: square;
    margin-left: 10px;
}
